* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  margin: 70px 70px;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 50px 100px 350px 50px;
  position: relative;
  filter: blur(10px);
}

.header {
  background-color: rgba(13, 13, 13, 0.923);
  /* height: 100px; */
  /* width: 100px; */
  grid-column: 1/-1;
  grid-row: 2/3;
}

.line1 {
  border-right: 15px solid rgba(13, 13, 13, 0.923);
  grid-column: 1/2;
  grid-row: 3/-1;
}
.line2 {
  border-right: 15px solid rgba(13, 13, 13, 0.923);
  grid-column: 1/2;
  grid-row: 1/2;
}
#editForm,
#displayForm {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 100vh;
  height: 250px;
}

.btnE,
.btnZ {
  position: absolute;
  top: 92%;
  left: 45%;
}
.btnD {
  position: absolute;
  left: 100%;
  top: 100%;
  transform: translate(-100%, -100%);
}

.btnW {
  position: absolute;
  left: 100%;
  bottom: 100%;
  transform: translate(-100%, 100%);
}

.text {
  padding: 4px;
  font-size: 32px;
  font-family: Work Sans, sans-serif;
  margin: 26px;
  width: 95vh;
  height: 230px;
  resize: none;
  overflow: auto;
  overflow-x: hidden;
  overflow-wrap: break-word; /* Przechodzenie do kolejnej lini */
}

form button {
  font-family: Work Sans, sans-serif;
  height: 40px;
  width: 100px;
  background-color: rgba(13, 13, 13, 0.923);
  color: #fff;
  border-radius: 10px;
}

.delete {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}

.delete-input {
  font-family: Work Sans, sans-serif;
  font-weight: 500;
  height: 70px;
  width: 350px;
  font-size: 24px;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 8px;
  align-items: center;
  justify-content: center;
}

.delete-btn {
  height: 50px;
  width: 250px;
  align-items: center;
  justify-content: center;
  font-family: Work Sans, sans-serif;
  background-color: rgba(13, 13, 13, 0.923);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 18px;
}
